html {
    margin: 2em;
    font-family: "Times New Roman", Times, serif;
}

body header {
    text-align: center;
}

.top {
    border-color: rgb(0, 0, 200);
    border-width: 2px;
    margin: 1px;
}
.dash {
    border-color: black;
    border-style: dashed;
}

h1, p, ul {
    margin: 0;
}

.sameLineText {
    padding-left: 15px;
}

.workSchoolSubtitle {
    padding-left: 50px;
}

.bulletPoints {
    padding-left: 100px
}

h3 {
    cursor: pointer;
}